## 함수도 객체다.

- 함수도 다른 객체처럼 클래스를 가지고 있다.
- 함수도 다른 객체처럼 변수에 할당도 가능하고, 즉 매개변수로 전달이 가능합니다.

In [ ]:
def add(x,y):
    """더하기를 위한 함수"""
    return x+y

In [ ]:
import types

In [ ]:
print(dir (type))

In [ ]:
from types import FunctionType

In [ ]:
add.__class__ is FunctionType

# 파이썬은 전부 객체다

In [ ]:
add_ = add

In [ ]:
add_(1,2)

In [ ]:
id(add_), id(add)

In [ ]:
add_.__class__ is FunctionType

In [ ]:
add()

## 매개변수에 초기 고정값 지정하기

- 매개변수에 초기값을 지정하는 이유는 이 매개변수에 인자가 안들어올 경우 에러없이 처리하기위해 존재.
- 다른언어는 함수를 오버로딩이 가능해서 여러 함수를 정의하는 것을 방지하기위해 초기값을 지정하지만
- 파이썬은 여러함수를 동시에 정의할 수 없어서 초기값만으로 여러 함수를 정의한 것 처럼 사용하게 됩니다.

In [ ]:
def subtract(x=1,y=2):
    return x-y

In [ ]:
def add(x,y):
    return x+y

In [ ]:
globals()['add']

In [ ]:
def add(x,y,z):
    return X+y+z

In [ ]:
globals()['add']

## 오버라이딩

In [ ]:
class A:
    
    def add(self,x,y):
        return x+y

In [ ]:
class B(A):
    def add (self, x, y):
        return x+x+y
    def subtract(self,x,y):
        return x-y

In [ ]:
b = B()

In [ ]:
b.add(1,2)

In [ ]:
def subtract(x=1,y=2):
        return x-y

In [ ]:
subtract.__defaults__

In [ ]:
subtract(y=3)

In [ ]:
def sample_function(a=1, b=2, *, kwarg1='123', kwags2='name'):
    print(a,b)  ## "*" 키워드를 구분 할때 사용

In [ ]:
sample_function.__defaults__

In [ ]:
sample_function.__kwdefaults__

In [ ]:
N = 7

schedule = [
    {
        'name': '1일',
        'T': 3,
        'P': 10
    },
    {
        'name': '2일',
        'T': 5,
        'P': 20
    },
    {
        'name': '3일',
        'T': 1,
        'P': 10
    },
    {
        'name': '4일',
        'T': 1,
        'P': 20
    },
    {
        'name': '5일',
        'T': 2,
        'P': 15
    },
    {
        'name': '6일',
        'T': 4,
        'P': 40
    },
    {
        'name': '7일',
        'T': 2,
        'P': 200
    },
]

In [ ]:
result_data = []

for index1, data1 in enumerate(schedule):
    remain_days = N
    result_datum = []
    for index2, data2 in enumerate(schedule):
        if index2 < index1:
            continue
        
        if data2['T'] <= remain_days:
            if len(result_datum) > 0:
                if result_datum[len(result_datum) - 1]['T'] < index2 + 1 and N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
            else:
                if N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
    
    if len(result_datum) > 0:
        result_data.append(result_datum)

result = []
for data in result_data:
    print(data)
    total = 0
    for datum in data:
        total += datum['P']
        
    result.append({'total' : total, 'data' : data})
    
from operator import itemgetter

data = sorted(result, key = itemgetter('total'))

print(data)
print(data[len(data) -1])

In [ ]:
N = 10

schedule = [
    {
        'name': '1일',
        'T': 1,
        'P': 1
    },
    {
        'name': '2일',
        'T': 1,
        'P': 2
    },
    {
        'name': '3일',
        'T': 1,
        'P': 3
    },
    {
        'name': '4일',
        'T': 1,
        'P': 4
    },
    {
        'name': '5일',
        'T': 1,
        'P': 5
    },
    {
        'name': '6일',
        'T': 1,
        'P': 6
    },
    {
        'name': '7일',
        'T': 1,
        'P': 7
    },
    {
        'name': '8일',
        'T': 1,
        'P': 8
    },
    {
        'name': '9일',
        'T': 1,
        'P': 9
    },
    {
        'name': '10일',
        'T': 1,
        'P': 10
    },
]

In [ ]:
result_data = []

for index1, data1 in enumerate(schedule):
    remain_days = N
    result_datum = []
    for index2, data2 in enumerate(schedule):
        if index2 < index1:
            continue
        
        if data2['T'] <= remain_days:
            if len(result_datum) > 0:
                if result_datum[len(result_datum) - 1]['T'] < index2 + 1 and N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
            else:
                if N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
    
    if len(result_datum) > 0:
        result_data.append(result_datum)
        
result = []
for data in result_data:
    print(data)
    total = 0
    for datum in data:
        total += datum['P']
        
    result.append({'total' : total, 'data' : data})
    
from operator import itemgetter

data = sorted(result, key = itemgetter('total'))

print(data)
print(data[len(data) -1])

In [ ]:
N = 10

schedule = [
    {
        'name': '1일',
        'T': 5,
        'P': 10
    },
    {
        'name': '2일',
        'T': 5,
        'P': 9
    },
    {
        'name': '3일',
        'T': 5,
        'P': 8
    },
    {
        'name': '4일',
        'T': 5,
        'P': 7
    },
    {
        'name': '5일',
        'T': 5,
        'P': 6
    },
    {
        'name': '6일',
        'T': 5,
        'P': 10
    },
    {
        'name': '7일',
        'T': 5,
        'P': 9
    },
    {
        'name': '8일',
        'T': 5,
        'P': 8
    },
    {
        'name': '9일',
        'T': 5,
        'P': 7
    },
    {
        'name': '10일',
        'T': 5,
        'P': 6
    },
]

In [ ]:
result_data = []

for index1, data1 in enumerate(schedule):
    remain_days = N
    result_datum = []
    for index2, data2 in enumerate(schedule):
        if index2 < index1:
            continue
        
        if data2['T'] <= remain_days:
            if len(result_datum) > 0:
                if result_datum[len(result_datum) - 1]['T'] < index2 + 1 and N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
            else:
                if N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
    
    if len(result_datum) > 0:
        result_data.append(result_datum)
        
result = []
for data in result_data:
    print(data)
    total = 0
    for datum in data:
        total += datum['P']
        
    result.append({'total' : total, 'data' : data})
    
from operator import itemgetter

data = sorted(result, key = itemgetter('total'))

print(data)
print(data[len(data) -1])

In [ ]:
1일 : {'T': 3, 'P': 10} - O - 2X - 3X - 4O - 5O (END)
                                           - 5X (END)
                                      -4X  - 5O (END) 
                        - X -2O - 3X - 4X - 5X - 6X - (END)
2일 : {'T': 5, 'P': 20} - O
    
3일 : {'T': 1, 'P': 10}
4일 : {'T': 1, 'P': 20}
5일 : {'T': 2, 'P': 15}
6일 : {'T': 4, 'P': 40}
7일 : {'T': 2, 'P': 200}

### 익명함수 lanbda함수

- 이름없는 함수를 제작할 수 있다.
- 이름없는 함수는 사용한 즉시 가비지컬렉션으로 사라짐
- 변수에 할당할 경우는 이름있는 함수로 지정해서 사용해야

1. 익명함수 정의 및 실행

- lambda 키워드를 사용
- : ( 콜론 )으로 나눠지는데, 좌측은 매개변서 우측은 표현식을 지정

In [ ]:
lambda x : x + 1

In [ ]:
(lambda x : x + 1)(3)

In [ ]:
from types import FunctionType

In [ ]:
(lambda x : x + 1).__class__ is FunctionType

### 재귀함수

- 함수 자신을 호출하고 함수의 결과와 다른 변수가 계산되어 처리하는 함수
- 꼬리 재귀는 함수 자신만을 호출해서 처리하는 재귀함수
- 특징 : 순화문 없이 함수를 호출해서 순환을 처리

예시 : 5! = 5x4x3x2x1

In [ ]:
def factorial_for(n):
    result = 1
    for index in range(1,n+1):
        result *= index
    return result

In [ ]:
factorial_for(5)

In [ ]:
def factorial_recursive(n):
    return n * factorial_recursive(n-1)if n > 1 else 1

In [ ]:
factorial_recursive(5)

In [ ]:
def A_add_B():
    input_data = input("정수 입력 : ")
    split_input_data = input_data.split(' ')
    
    A=int(split_input_data[0])
    if(A<=0 and A>=10):
        print("A의 범위가 맞지 않음")
        return None
    B = int(split_input_data[1])
    if(B<=0 and B>=10):
        print("B의 범위가 맞지 않음")
        return
    
    return (A, B)4

def A_add_B1():
    data = input_AB()
    if data is None:
        return
    print(data[0]+data[1])
    
def A_multiple_B():
    data = input_AB()
    if data is None:
        return
    print(data[0]*data[1])
    
def A_divide_B():
    data = input_AB()
    if data is None:
        return
    print(data[0]-data[1])

In [1]:
three_list = []
five_list = []

In [2]:
count = 1000
for data in range(1,count):
    if data % 3 == 0:
        three_list.append(data)
        
    if data % 5 == 0:
        if data % 15 == 0:
            continue
        five_list.append(data)

In [3]:
print(three_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [4]:
print(five_list)

[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100, 110, 115, 125, 130, 140, 145, 155, 160, 170, 175, 185, 190, 200, 205, 215, 220, 230, 235, 245, 250, 260, 265, 275, 280, 290, 295, 305, 310, 320, 325, 335, 340, 350, 355, 365, 370, 380, 385, 395, 400, 410, 415, 425, 430, 440, 445, 455, 460, 470, 475, 485, 490, 500, 505, 515, 520, 530, 535, 545, 550, 560, 565, 575, 580, 590, 595, 605, 610, 620, 625, 635, 640, 650, 655, 665, 670, 680, 685, 695, 700, 710, 715, 725, 730, 740, 745, 755, 760, 770, 775, 785, 790, 800, 805, 815, 820, 830, 835, 845, 850, 860, 865, 875, 880, 890, 895, 905, 910, 920, 925, 935, 940, 950, 955, 965, 970, 980, 985, 995]

In [5]:
three_list+five_list

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399,
 402,
 405,
 408,
 411,
 414,
 417,
 420,
 423,
 426,
 429,
 432,
 435,
 438,
 441,
 444,
 447,
 450,
 453,
 456,
 459,
 462,
 465,
 468,
 471,
 474,
 477,
 480,
 483,
 486,
 489,
 492,
 495,
 498,
 501,
 504,
 507,
 510,
 513,
 516,
 519,
 522,
 525,
 528,
 531,
 534,
 537,
 540,
 543,
 546,
 549,
 552,
 555,
 558,
 561,
 564,
 567,
 570,
 573,
 576,
 579,
 582,
 585,
 588,
 591,
 594,
 597,
 600,
 603,
 606,
 609,
 612,
 615,
 618,
 621,
 624,
 627,
 630,
 633,
 636,
 639,
 642,
 645,
 648,
 651,
 654,
 657,
 660,
 663,
 666,
 669,
 672,
 675,
 678,
 681,
 684,
 687,
 690,
 693,
 696,
 699,
 702,
 705,
 708,
 711,
 714,
 717,
 720,
 723,
 726,
 729,
 732,
 735,
 738,
 741,
 744,
 747,
 750,
 753,
 756,
 759,
 762,
 765,
 768,
 771,
 774,
 777,
 780,
 783,
 786,
 789,
 792,
 795,
 798,
 801,
 804,
 807,
 810,
 813,
 816,
 819,
 822,
 825,
 828,
 831,
 834,
 837,
 840,
 843,
 846,
 849,
 852,
 855,
 858,
 861,
 864,
 867,
 870,
 873,
 876,
 879,
 882,
 885,
 888,
 891,
 894,
 897,
 900,
 903,
 906,
 909,
 912,
 915,
 918,
 921,
 924,
 927,
 930,
 933,
 936,
 939,
 942,
 945,
 948,
 951,
 954,
 957,
 960,
 963,
 966,
 969,
 972,
 975,
 978,
 981,
 984,
 987,
 990,
 993,
 996,
 999,
 5,
 10,
 20,
 25,
 35,
 40,
 50,
 55,
 65,
 70,
 80,
 85,
 95,
 100,
 110,
 115,
 125,
 130,
 140,
 145,
 155,
 160,
 170,
 175,
 185,
 190,
 200,
 205,
 215,
 220,
 230,
 235,
 245,
 250,
 260,
 265,
 275,
 280,
 290,
 295,
 305,
 310,
 320,
 325,
 335,
 340,
 350,
 355,
 365,
 370,
 380,
 385,
 395,
 400,
 410,
 415,
 425,
 430,
 440,
 445,
 455,
 460,
 470,
 475,
 485,
 490,
 500,
 505,
 515,
 520,
 530,
 535,
 545,
 550,
 560,
 565,
 575,
 580,
 590,
 595,
 605,
 610,
 620,
 625,
 635,
 640,
 650,
 655,
 665,
 670,
 680,
 685,
 695,
 700,
 710,
 715,
 725,
 730,
 740,
 745,
 755,
 760,
 770,
 775,
 785,
 790,
 800,
 805,
 815,
 820,
 830,
 835,
 845,
 850,
 860,
 865,
 875,
 880,
 890,
 895,
 905,
 910,
 920,
 925,
 935,
 940,
 950,
 955,
 965,
 970,
 980,
 985,
 995]

In [6]:
sum(three_list + five_list)

233168

In [7]:
three_set = set(three_list)
five_set = set(five_list)

In [8]:
print(three_set)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999}

In [9]:
print(five_set)

{515, 5, 520, 10, 530, 20, 535, 25, 545, 35, 550, 40, 560, 50, 565, 55, 575, 65, 580, 70, 590, 80, 595, 85, 605, 95, 610, 100, 620, 110, 625, 115, 635, 125, 640, 130, 650, 140, 655, 145, 665, 155, 670, 160, 680, 170, 685, 175, 695, 185, 700, 190, 710, 200, 715, 205, 725, 215, 730, 220, 740, 230, 745, 235, 755, 245, 760, 250, 770, 260, 775, 265, 785, 275, 790, 280, 800, 290, 805, 295, 815, 305, 820, 310, 830, 320, 835, 325, 845, 335, 850, 340, 860, 350, 865, 355, 875, 365, 880, 370, 890, 380, 895, 385, 905, 395, 910, 400, 920, 410, 925, 415, 935, 425, 940, 430, 950, 440, 955, 445, 965, 455, 970, 460, 980, 470, 985, 475, 995, 485, 490, 500, 505}

In [10]:
print(dir(three_set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [28]:
union = three_set.union(five_set)

In [29]:
sum(union)

233168

In [44]:
target = 1
is_loop = True

range_value = 21

while is_loop:
    result = []
    for data in range(1,range_value):
        if target % data == 0:
            result.append(True)
            
    if len(result) == range_value - 1:
            print(target)
            is_loop=False
            break
    target += 1

232792560

In [47]:
a = 2**1000

total = 0
for data in str(a):
    total += int(data)

print(total)

##문자열로 바꿔서 인트로 바꾼다음 계산

1366

In [51]:
a = 1

for i in range(1,10002):
    if i / i ==0  and i / 1 == i:
        a += 1
        print(i)

In [52]:
def factorial_for(n):
    result = 1
    for index in range(1,n+1):
        result += index
    return result

In [53]:
factorial_for(100)

5051

In [54]:
from datetime import datetime

In [55]:
datetime(1989,10,1)

datetime.datetime(1989, 10, 1, 0, 0)

In [67]:
count = 2
count_result = []
while True:
    result = []
    for data in range(1,count):
        if count % data == 0:
            result.append(True)
            
    if len(result) == 2:
        count_result.append(count)
        if len(count_result) == 10001:
            break
    count += 1
print(count_result[len(count_result) - 1])

KeyboardInterrupt: